<article>


    {% if not truncate %}
    <div class="callout" style="background-image: url({{page.media['bckgrd.jpg'].url}});background-position:{{ page.header.position }};">
        <div class="container ">
            <div class="callout-row">
                <div class="row">

                    <div class="callout-text col-lg-8 offset-lg-2 text-center">
    <div class="callout-bckg">
        <h1>{{page.header.title}}</h1>
        {% include 'partials/buton.html.twig' %}
    </div>
    </div>
    </div></div></div></div>
        <div class="row">
                {#Contenu de l'article#}

      <div class="col-md-10 article-title">
<h1>{{ page.title }}</h1>
         <p> Ecrit par: {{ page.header.author.name }} <br>
             <time datetime="{{ 'MONTHS_OF_THE_YEAR'|ta(post.date|date('n') - 1) }} {{ page.date|date("d, Y") }}" class="entry-date entry-meta-element published" title="{{ 'MONTHS_OF_THE_YEAR'|ta(post.date|date('n') - 1) }} {{ page.date|date("d, Y") }}" itemprop="datePublished">{{ 'MONTHS_OF_THE_YEAR'|ta(post.date|date('n') - 1) }} {{ page.date|date("d, Y") }}</time></p>
          {% for tag in page.taxonomy.tag %}
              <a href="{{ base_url }}/search/query:{{ tag }}" rel="tag">#{{ tag }}<br></a>
          {% endfor %}

        {{ page.content }}
      </div>
       <div class="col-md-2 blog-aside">

           {% include 'partials/aside.html.twig' %}

       </div></div>
    {% endif %}


                                                    {#image#}
    {% if truncate %}
    <div class="entry-media {% if truncate %}entry-{% if page.header.youtube or page.header.soundcloud or page.header.vimeo %}video{% else %}image{% endif %}{% else %} resp_video{% endif %}">
        <figure class="col-xs-12 col-md-6">
            {% if page.media.images|first %}
                {{ page.media.images|first.cropZoom(400,400).html('','', 'attachment-receptar-featured size-receptar-featured wp-post-image') }}
            {% else %}
                <img class="attachment-receptar-featured size-receptar-featured wp-post-image" src="{{ theme_url }}/images/{{ site.global_featured_image }}">
            {% endif %}
        </figure>
    </div>

    <div class="entry-inner">
        <div class="entry-inner{% if truncate %}-content{% endif %}">

            <header class="entry-header">
                {% if page.header.link %}
                    <h1 class="entry-title">
                        {% if page.header.continue_link is not sameas(false) %}
                            <a href="{{ page.url }}"><i class="fa fa-angle-double-right"></i></a>
                        {% endif %}
                        <a href="{{ page.header.link }}">{{ page.title }}</a>
                    </h1>
                {% else %}
                    <h1 class="entry-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
                {% endif %}
                {% if not truncate %}
                    <div class="entry-category">
                        {% if page.taxonomy.category %}
                            <span class="cat-links entry-meta-element">
            {% for category in page.taxonomy.category %}
                <a href="{{ base_url }}/category:{{ category }}" rel="category tag">{{ category }}{% if not loop.last %}, {% endif %}</a>
            {% endfor %}
          </span>
                        {% endif %}
                    </div>
                {% endif %}
            </header>

            {% if not truncate %}
                <div class="entry-meta entry-meta-bottom">
                    <time datetime="{{ 'MONTHS_OF_THE_YEAR'|ta(post.date|date('n') - 1) }} {{ page.date|date("d, Y") }}" class="entry-date entry-meta-element published" title="{{ 'MONTHS_OF_THE_YEAR'|ta(post.date|date('n') - 1) }} {{ page.date|date("d, Y") }}" itemprop="datePublished">{{ 'MONTHS_OF_THE_YEAR'|ta(post.date|date('n') - 1) }} {{ page.date|date("d, Y") }}</time>

                    <span class="author vcard entry-meta-element">
          {% if page.header.author.name or site.author.name %}
              {% if page.header.author.name %}
                  {% if page.header.author.url %}
                      <a href="{{ page.header.author.url }}">{{ page.header.author.name }}</a>
                  {% else %}
                      {{ page.header.author.name }}
                  {% endif %}
          {% else %}
                  {% if site.author.url %}
                      <a href="{{ site.author.url }}">{{ site.author.name }}</a>
                  {% else %}
                      {{ site.author.name }}
                  {% endif %}
              {% endif %}
          {% endif %}
        </span>
                    {% if page.taxonomy.tag %}
                        <span class="tags-links entry-meta-element">
          {% for tag in page.taxonomy.tag %}
              <a href="{{ base_url }}/tag:{{ tag }}" rel="tag">#{{ tag }}{% if not loop.last %}, {% endif %}</a>
          {% endfor %}
        </span>
                    {% endif %}
                </div>
            {% endif %}
            <div class="clear"></div>

            <div class="entry-content">

                {% if not truncate %}
                    {% if page.header.description %}
                        <div class="fl-module fl-module-rich-text text-center" style="margin-bottom: 6%;">
                            <p>
                                {% for item in page.header.description %}
                                    {% if loop.last %}</br>{% endif %}
                                    <strong>{{ item.option }}</strong> {{ item.value }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    {% endif %}

                    {% if page.header.youtube or page.header.vimeo or page.header.soundcloud %}
                        <div class="fit-vids-style">
                            <style>
                                .fluid-width-video-wrapper {width: 100%;position: relative;padding: 0;}                                                                                   .fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed { position: absolute; top: 0;                                  left: 0; width: 100%; height: 100%;}
                            </style>
                        </div>

                        <div class="fl-row fl-row-full-width fl-row-bg-none" style="padding-bottom: 1.62rem;">
                            <div class="fl-video fl-embed-video">
                                <div class="fluid-width-video-wrapper" style="padding-top: 56.2%;">
                                    {% if page.header.youtube %}
                                        <iframe src="{{ page.header.youtube }}?showinfo=0" frameborder="0" allowfullscreen></iframe>
                                    {% endif %}
                                    {% if page.header.vimeo %}
                                        <iframe src="{{ page.header.vimeo }}" frameborder="0" allowfullscreen=""></iframe>
                                    {% endif %}
                                    {% if page.header.soundcloud %}
                                        <iframe width="100%" height="403" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ page.header.soundcloud }}&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true&amp;buying=false"></iframe>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}


                {% endif %}
                <div class="clear"></div>

                {% if page.header.continue_link is sameas(false) %}
                    {{ page.content }}
                    {% if not truncate %}
                        {% set show_prev_next = true %}
                    {% endif %}
                {% elseif truncate and page.summary != page.content %}
                    {% if site.summary.striptags == true %}
                        {{ page.summary|striptags }}
                    {% else %}
                        {{ page.summary }}
                    {% endif %}
                {% elseif truncate %}
                    {{ page.content|truncate(550) }}
                {% else %}
                    {{ page.content }}
                    {% set show_prev_next = true %}
                {% endif %}

                {% if page.header.continue_link is not sameas(false) %}
                    {% if truncate and page.summary != page.content %}
                        <div class="link-more"><a href="{{ page.url }}">{{ 'lire la suite'|t }}</a></div>
                    {% elseif truncate %}
                        <div class="link-more"><a href="{{ page.url }}">{{ 'lire la suite'|t }}</a></div>
                    {% endif %}
                {% endif %}


            </div>








        </div>
    </div>
    {% endif %}
        </article>
