<a href="{{ page.header.lien }}">
    <div class="buttons">
        <button class="blob-btn-{{ page.header.color }}">
            {{ page.header.bouton }}
            <span class="blob-btn-{{ page.header.color }}__inner">
      <span class="blob-btn-{{ page.header.color }}__blobs">
        <span class="blob-btn-{{ page.header.color }}__blob"></span>
        <span class="blob-btn-{{ page.header.color }}__blob"></span>
        <span class="blob-btn-{{ page.header.color }}__blob"></span>
        <span class="blob-btn-{{ page.header.color }}__blob"></span>
      </span>
                    </span></button>

    </div></a>