<div class="toggle_btn">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

<nav class="menu">
    <div class="row">
    <div class="menu-text col-md-6">
        {% macro loop(page) %}
            {% for p in page.children.visible %}
                {% set current_page = (p.active or p.activeChild) ? 'selected' : '' %}
                {% if p.children.visible.count > 0 %}
                    <li class="has-children {{ current_page }}">
                        <a href="{{ p.url }}">
                            {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
                            {{ p.menu }}
                        </a>
                        <ul>
                            {{ _self.loop(p) }}
                        </ul>
                    </li>
                {% else %}
                    <div class="{{ current_page }}">
                        <a href="{{ p.url }}">
                            {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
                            {{ p.menu }}
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        {% endmacro %}

            {% if theme_config.dropdown.enabled %}
                {{ _self.loop(pages) }}
            {% else %}
                {% for page in pages.children.visible %}
                    {% set current_page = (page.active or page.activeChild) ? 'selected' : '' %}
                    <div class="{{ current_page }}">
                        <a href="{{ page.url }}">
                            {% if page.header.icon %}<i class="fa fa-{{ page.header.icon }}"></i>{% endif %}
                            {{ page.menu }}
                        </a>
                    </div>
                {% endfor %}
            {% endif %}{% for mitem in site.menu %}
                <li>
                    <a href="{{ mitem.url }}">
                        {% if mitem.icon %}<i class="fa fa-{{ mitem.icon }}"></i>{% endif %}
                        {{ mitem.text }}
                    </a>
                </li>
            {% endfor %}

    </div>
        <div class="contact col-md-6">
                <div class="contact-text">
            <h1>Peut on vous aider?</h1>
             <p>adresse de l'agence<br>
                 49000 Cholet</p>
            <h2>Tél:06-01-02-03-04</h2>
                </div>
            <a href="contact">
                <div class="buttons">
                <button class="blob-btn">
                   Contactez Nous
                    <span class="blob-btn__inner">
      <span class="blob-btn__blobs">
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
      </span>
                    </span></button>

            </div>
            </a>

        </div>

        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 18 -7" result="goo"></feColorMatrix>
                    <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                </filter>
            </defs>
        </svg>

        </div>
    </div>

</nav>